@import url(./__close-button/popup__close-button.css);
@import url(./__header/popup__header.css);
@import url(./__form/popup__form.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__field/popup__field.css);
@import url(./__field/_name/popup__field_name.css);
@import url(./__field/_description/popup__field_description.css);

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0 ,0, 0.5);
}