@import url(./__photo/photo-card__photo.css);
@import url(./__caption/photo-card__caption.css);
@import url(./__description/photo-card__description.css);
@import url(./__like/photo-card__like.css);

.photo-card {
    height: 361px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 100%;
    height: 100%;
}
