.profile__info {
  margin-left: 30px;
  color: #FFF;
  display: grid;
  align-items: baseline;
  justify-content: center;
  width: 40%;
  grid-template-columns: 88% 7.14%;
  grid-gap: 17px 16px;
  grid-template-areas: "name edit-button"
  "description .";
}

@media screen and (max-width: 1000px) {
  .profile__info {
    width: 48%;
  }
}

@media screen and (max-width: 900px) {
  .profile__info {
    width: 75%;
    grid-gap: 14px 3%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 50% 6.42%;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 700px) {
  .profile__info {
    width: 70%;
    grid-template-columns: 60% 6.42%;
  }
}

@media screen and (max-width: 500px) {
  .profile__info {
    width: 100%;
    grid-template-columns: 73% 6.42%;
    grid-column-gap: 2%;
  }
}