@import url(./__close-button/edit-profile-form__close-button.css);
@import url(./__description-field/edit-profile-form__description-field.css);
@import url(./__form/edit-profile-form__form.css);
@import url(./__header/edit-profile-form__header.css);
@import url(./__name-field/edit-profile-form__name-field.css);
@import url(./__form-content/edit-profile-form__form-content.css);
@import url(./__open/edit-profile-form__open.css);
@import url(./__submit-button/edit-profile-form__submit-button.css);

.edit-profile-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 ,0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}